block footer
.footer 
    ul
        li 
            a(href="https://twitter.com/00_",target="_blank") twitter
        li
            a(href="https://github.com/yamaguchi1024",target="_blank") github
        li
            a(href="mailto:yukatkh@gmail.com",target="_blank") email
        li
            a(href="http://yamaguchi-1024.hatenablog.com/",target="_blank") hatena blog
        li
            a(href="https://www.facebook.com/yuka.takahashi.374549",target="_blank") facebook

